body{
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100vw;
    background-color: white;
}
header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: antiquewhite;
    width: 100%;
    height: auto;
    padding-top: 1rem;
    position: fixed;
    z-index: 1000;
}
.header-container{
width: 100%;
height: 5rem;
display: flex;
flex-direction: row;
justify-content:space-between;
align-items: center;
padding: 0.5rem;

}
.logo-and-brand-nanme{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.logo{
text-decoration: none;
}
.logo-and-brand-nanme h1{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkgreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.2rem;
    height: 0.5rem;
}
.logo-and-brand-nanme h2{
     font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkgreen;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo-and-brand-nanme i{
    border-radius: 50%;
    width: 2rem;
    height:2rem;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    padding: 0.1rem;
    margin-top: 0.1rem;
}
.logo-and-brand-nanme i:hover{
    transform: rotateY(360deg);
}
.search-andcart{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-right: 1rem;
}
.search-andcart input{
    width: 12rem;
    height: 2rem;
    border-radius: 20px;
    border: 1px solid darkgreen;
    text-align: center;
    color: darkgreen;
}
.search-andcart input::placeholder{
    color: darkgreen;
}
.search-andcart input:hover{
    border: 2px solid darkgreen;
}
.search-andcart input:focus{
    border: 2px solid darkgreen;
}
.search-andcart a{
    text-decoration: none;
    color: darkgreen;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 20px;
    transition: all 0.7s ease-in-out;
}
.search-andcart a:hover{
    background-color: white;
}
.search-andcart a:focus{
    background-color: white;
}
.search-andcart button{
    color: darkgreen;
    background-color: transparent;
    border-color: transparent;
    font-size: 1.2rem;
    border-radius: 20px;
    width: 3rem;

}
.search-andcart button:hover{
    background-color: white;
}

.mylaguages-container{
    display: none;
    transition: display 0.8s ease, max-height 0.8s ease;
}
.mylaguages-container.show{
      display: flex;
    flex-direction: column;
    position: absolute;
    top: 6.9rem;
    left: 0;
    width: 50%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    gap: 0.2rem;
    z-index: 10;
    
}
.mylaguages-container.show button{
    border-bottom: 1px solid antiquewhite;
    width: 100%;
    border-radius: none;
  margin-bottom: 0.1rem;
  padding: 0.5rem;
      transition: all 0.7s ease-in-out;
}
.mylaguages-container.show button:hover{
    background-color: darkgreen;
    color: antiquewhite;
}

.sub{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
.header-sublinks{
    width: 100%;
    height: 3rem;
    background-color: darkgreen;
}
.sublink-container button{
    background-color: transparent;
    border-color: transparent;
    color: antiquewhite;
    font-size: 1.2rem;
    float: inline-end;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0.5rem;
}
.sublinks{
    display: none;
}
.sublinks.show{
     display: flex;
    flex-direction: column;
    position: absolute;
    top: 6.9rem;
    left: 0;
    width: 50%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    gap: 0.2rem;
    z-index: 10;
}
.sublinks.show a{
      border-bottom: 1px solid antiquewhite;
    width: 100%;
    border-radius: none;
  margin-bottom: 0.1rem;
  padding: 0.5rem;
      transition: all 0.7s ease-in-out;
      text-decoration: none;
      color: darkgreen;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sublinks.show a:hover{
    background-color: darkgreen;
    color: antiquewhite;
}

.booking-hero{position:relative;height:40vh;overflow:hidden;padding-top:8rem}
.booking-hero img{position:absolute;inset:0;width:100%;height:100%;object-fit:cover;filter:brightness(.55)}
.booking-hero .overlay{position:absolute;inset:0;background:linear-gradient(180deg, rgba(0,0,0,.4), rgba(0,0,0,.1))}
.booking-hero .hero-content{position:relative;z-index:1;color:#fff;display:flex;flex-direction:column;gap:10px;align-items:center;justify-content:center;height:100%;padding:0 20px;  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;border: 2px solid darkgreen;}
.booking-hero h1{color:rgb(255,204,0);font-size:1.8rem;margin:0;  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.booking-hero {text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.hero-content a{
    background-color: darkgreen;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    text-decoration: none;
    width: 10rem;
    height: 2rem;
    border-radius: 20px;
    transition: all 0.6s ease-in-out;
}
.hero-content a:hover{
    background-color: white;
    color: darkgreen;
}
.brand-story{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 235, 215, 0.621);
}
.brand-story h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgreen;
    font-size: 1.7rem;
}
.brand-story hr{
    width: 5rem;
    border: 2px solid goldenrod;
}
.brand{
    width: 80%;
    height: auto;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.brand h1{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: goldenrod;
}
.brand p{
    color: #3a3a3a;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: justify;
}
.foundtion{
    margin-top: 4rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.f{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.foundation-image{
    width: 100%;
    height: 15rem;
   /* clip-path: polygon(
    0 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% 100%,
    0 100%
  );*/
}
.foundation-story h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgreen;
    font-size: 1.7rem;
    text-align: center;
}
.foundation-story hr{
     width: 5rem;
    border: 2px solid goldenrod;
}
.foundation-story p{
     color: #3a3a3a;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: justify;
}
.foundation-image img{
    width: 100%;
    height: 100%;
}
.philosophy{
     width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 235, 215, 0.621);
    margin-top: 4rem;
}
.philosophy h1{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgreen;
    font-size: 1.7rem;
    text-align: center;
}
.philosophy hr{
     width: 5rem;
    border: 2px solid goldenrod;
}
.philosophy-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
}
.card{
    width: 17rem;
    height: 19rem;
    background-color: white;
    padding: 0.7rem;
    box-shadow: 0 2px 4px 6px gray;
    border-radius: 20px;
}
.card h3{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgreen;
    font-size: 1.2rem;
    text-align: center;
}
.card h2{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: goldenrod;
    font-size: 1.2rem;
    text-align: center;
}
.card p{
     color: #3a3a3a;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: justify;
}



.collection-banner{
     position: relative;
  width: 100%;
  height: 20rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-family: 'Playfair Display', serif;
  margin-top: 2rem;
}
.collection-banner img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -2;
    position: absolute;
}
.banner-content h1{
     color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7rem;
    text-decoration: none;
}
.banner-content p{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: white;
     text-align: center;
}
.banner-content a{
    text-decoration: none;
    color: white;
    background-color: darkgreen;
    padding: 0.5rem;
    width: 10rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid darkgreen;
    transition: all 0.8s ease-in-out;
}
.banner-content a:hover{
    background-color: white;
    color: darkgreen;
}
.banner-content{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
    background-color: rgba(0, 0, 0, 0.559);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: darkgreen;
    padding-bottom: 0.1rem;
}
.footer-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.footer-logo{
    width: 100%;
    height: 10rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  padding-top: 1rem;
}
.footer-logo i{
    background-color: antiquewhite;
    height: 4rem;
    height: 4rem;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   border-radius: 50%;
   color: darkgreen;
}
.footer-logo h1{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: antiquewhite;
     letter-spacing: 0.3rem;
     display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.footer-logo h2{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: antiquewhite;
     letter-spacing: 0.3rem;
     width: 100%;
     display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}
.quick-links h1{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: goldenrod;
     letter-spacing: 0.3rem;
     display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.link{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}
.link a{
    text-decoration: none;
    color: antiquewhite;
    padding: 0.5rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 20px;
    transition: all 0.7s ease-in-out;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.link a:hover{
    background-color: antiquewhite;
    color: darkgreen;
}
.social-links h1{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: goldenrod;
     letter-spacing: 0.3rem;
     display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.social{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.social a{
     text-decoration: none;
    color: antiquewhite;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 50%;
    border: 2px solid antiquewhite;
    transition: all 0.7s ease-in-out;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.social a:hover{
    background-color: antiquewhite;
    color: darkgreen;
}
.newsletter h1{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: goldenrod;
     letter-spacing: 0.3rem;
     display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.newsletter p{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: white;
     text-align: center;
     line-height: 1.5em; 
}
.input-button{
     display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100%;
}
.input-button input{
    width: 80%;
    height: 2.5rem;
    background-color: transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid antiquewhite;
    color: antiquewhite;
    transition: all 0.6s ease-in-out;
}
.input-button input:hover{
    box-shadow: 0 2px 4px 6px antiquewhite;
}
.input-button input:focus{
    box-shadow: 0 2px 4px 6px antiquewhite;
}
.input-button input::placeholder{
    color: antiquewhite;
}
.input-button button{
    width: 20%;height: 2.9rem;
     border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: antiquewhite;
    color: darkgreen;
    font-size: 2rem;
    border: 2px solid antiquewhite;
}
.input-button button:hover{
    background-color: transparent;
    color: antiquewhite;
}
.copy{
    width: 100%;
    height: 2.5rem;
    text-align: center;
    font-size: 1rem;
    background-color: antiquewhite;
    color: darkgreen;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
}




@media  (min-width: 768px) {
    .search-andcart input{
        width: 20rem;
    }
    .link-button{
        display: none;
    }
    .sublink-container{
          display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .sublinks{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;

    }
    .sublinks a{
        color: antiquewhite;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 0.5rem;
        transition: all 0.8s ease-in-out;

    }
    .sublinks a:hover{
        background-color: antiquewhite;
        color: darkgreen;
        border-radius: 20px;
        
    }
    .header-sublinks{
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .f{
          flex-direction: row;
          justify-content: space-between;
          display: flex;
          gap: 2rem;
    }
    .foundtion{
        width: 100%;
    }
    .foundation-image{
        width: 150rem;
    }

      footer{
        padding: 0.5rem;
    }

  .footer-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.link{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.social{
     display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.input-button{
    margin-top: 2rem;
}



}